<div class="row">
    <div class="col-md-12">
        <button class="btn btn-success">New Recipe</button>
    </div>
</div>
<hr>

<div class="row">
    <div class="col-md-12">
        <div class="list-group-item cleafix" *ngFor="let recipe of recipes">
            <a href="#" class="pd-flex">
                <div class="left-side">
                    <h4 class="list-group-item-heading">{{recipe.name}}</h4>
                    <p class="list-group-item-text">{{recipe.description}}</p>
                </div>
                <div class="right-side">
                    <img [src]="recipe.imagePath" class="img-responsive" style="max-height: 50px;">
                </div>
            </a>
        </div>
        <app-recipe-item></app-recipe-item>
    </div>
</div>

<hr>